.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #5e05a6 0%, #fed6e3 100%);
  font-family: 'Arial', sans-serif;
}

.form {
  background: burlywood;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form h1 {
  margin-bottom: 20px;
  color: #333;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  width: 25%;
  padding: 12px;
  background: #f0f2f3;
  color: rgb(5, 0, 12);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background: #b9e40d;
}

@media (max-width: 768px) {
  .form {
    padding: 30px;
    max-width: 300px;
  }
}
