container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #e519af 0%, #2e0ee2 100%); */
  color: rgb(0, 9, 4);
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  background-color: red;
  
}

.header h1 {
  margin: 0;
  transform: translateX(570px);
}

.logoutBtn {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logoutBtn:hover {
  background: #ff5252;
}

.main {
  flex: 1;
  padding: 20px;
}

.addBtn {
  padding: 10px 20px;
  background: lightseagreen;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.addBtn:hover {
  background: #26d0ce;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
  .main {
    padding: 10px;
  }
}
