.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
  background-image: url("/public/admin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px , 500px; 

}

/* FORM BOX */
.form {
  background: #ffffff;
  color: #333;
  padding: 40px;
  /* border-radius: 12px; */

  /* BORDER ADDED */
  border: 2px solid;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  text-align: center;
  height: 240px;
  margin-bottom: 110px;
}

/* TITLE */
.form h1 {
  margin-bottom: 20px;
  color: #222;
}

/* INPUTS */
.form input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s, box-shadow 0.3s;
}

/* INPUT FOCUS */
.form input:focus {
  outline: none;
  border-color: #4ecdc4;
  box-shadow: 0 0 5px rgba(78, 205, 196, 0.6);
}

/* BUTTON */
.btn {
  width: 20%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 12px;
}

.btn:hover {
  background: #2fb9b0;
}

/* MOBILE */
@media (max-width: 768px) {
  .form {
    padding: 28px;
    max-width: 320px;
  }
}
