
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f6f9;
  color: #111;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: #1f9d55; /* clean green */
  color: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  /* height: 40px; */
}

.header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  margin-left: 580px;

}

/* LOGOUT BUTTON */
.logoutBtn {
  margin-left: 520px;
  padding: 8px 18px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logoutBtn:hover {
  background: #e63946;
}

/* MAIN CONTENT */
.main {
  flex: 1;
  padding: 24px;
}

/* ADD BUTTON */
.addBtn {
  padding: 10px 22px;
  background: #2ec4b6;
  color: #111;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  }

.addBtn:hover {
  background: #20a39e;
  color: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .main {
    padding: 14px;
  }
}

* {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Edge */
}
