*{
  margin: 0;
}.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  color: black;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-image: url("/public/hand-drawn-remote-recruitment-illustration_52683-144094.avif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top 65px;
  
}

.header {
  padding: 20px;
  font-size: 2rem;
  background: black;
  color: white;
  height: 50px;
  font-size: 24px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.description {
  max-width: 600px;
  margin-top: 80px;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-left: 600px;
}

.loginBtn {
  border-radius: 200%;
  padding: 15px 30px;
  background: black;
  border-radius: 90%;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 600px;
}

.loginBtn:hover {
  transform: translateY(-2px);
}

.footer {
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .loginBtn {
    padding: 12px 25px;
    font-size: 16px;
  }
}
